#fpgmap {
	visibility : hidden !important;
	height : 0;
}

#boxlink { color: #a5a5a5;
	text-decoration: none;
	cursor: default;
	margin-left: 33px;
}
 
#boxlink.highlight { color: #0000cd;
	text-decoration: underline;
	cursor: pointer;
}
 
div#fpgmap {
        height:0;
}

