@charset "utf-8";
/* 
 * CSS Document for mod_kc_admin_quickicons
*/

#kc_admin_quickicons_cpanel div.icon_wrapper {
float:left;
}

#kc_admin_quickicons_cpanel div.icon {
background-color: #FFF;
float:left;
margin-bottom: 15px;
margin-right: 15px;
text-align: center;
}

#kc_admin_quickicons_cpanel div.icon a {
    border: 1px solid #EAEAEA;
    color: #565656;
    display: block;
    float: left;
    height: 97px;
    text-decoration: none;
    vertical-align: middle;
    width: 108px;
}

#kc_admin_quickicons_cpanel img  { padding: 10px 0; margin: 0 auto; }
#kc_admin_quickicons_cpanel span { display: block; text-align: center; }
