<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset 
		name="map"
		addfieldpath="/administrator/components/com_gmapfp/models/fields"
		label="GMAPFP_CONF_MAP">

<field type="gmapfphead" default="GMAPFP_MAP_ZONE" />
		
		<field name="gmapfp_height" type="text" default="500" label="GMAPFP_HEIGHT" size="10" description="GMAPFP_HEIGHT_DESC" />
		<field name="gmapfp_width" type="text" default="100%" label="GMAPFP_WIDTH" size="10" description="GMAPFP_WIDTH_DESC" />
		<field name="gmapfp_auto" type="radio" default="1" label="GMAPFP_AUTO" description="GMAPFP_AUTO_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
<field type="gmapfpmap" label="GMAPFP_MAP_CENTRE" description="GMAPFP_MAP_CENTRE_DESC" />
		<field name="gmapfp_centre_lat" type="hidden" default="47.92933252158822" label="GMAPFP_CENTRE_LAT" size="20" description="GMAPFP_CENTRE_LAT_DESC" />
		<field name="gmapfp_centre_lng" type="hidden" default="2.1391642837122617" label="GMAPFP_CENTRE_LNG" size="20" description="GMAPFP_CENTRE_LNG_DESC" />
		<field name="gmapfp_zoom" type="list" default="2" label="GMAPFP_ZOOM" description="GMAPFP_ZOOM_DESC">
			<option value="0">GMAPFP_AUTO_ZOOM</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
		</field>
		<field name="gmapfp_zoom_lightbox_carte" type="list" default="0" label="GMAPFP_ZOOM_LIGHTBOX_CARTE" description="GMAPFP_ZOOM_LIGHTBOX_CARTE_DESC">
			<option value="0">GMAPFP_SAME_ZOOM</option>
			<option value="100">GMAPFP_MAP_ZOOM</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
		</field>
		<field name="gmapfp_zoom_lightbox_imprimer" type="list" default="0" label="GMAPFP_ZOOM_LIGHTBOX_IMPRIMER" description="GMAPFP_ZOOM_LIGHTBOX_IMPRIMER_DESC">
			<option value="0">GMAPFP_SAME_ZOOM</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
		</field>

<field type="gmapfphead" default="GMAPFP_DETAILS_MAP_ZONE" />
		
		<field name="gmapfp_normal" type="radio" default="1" label="GMAPFP_NORMAL" description="GMAPFP_NORMAL_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmapfp_satellite" type="radio" default="1" label="GMAPFP_SATELLITE" description="GMAPFP_SATELLITE_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmapfp_hybrid" type="radio" default="1" label="GMAPFP_HYBRID" description="GMAPFP_HYBRID_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmapfp_physic" type="radio" default="1" label="GMAPFP_PHYSIC" description="GMAPFP_PHYSIC_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmapfp_choix_affichage_carte" type="list" default="10" label="GMAPFP_AFFICHAGE_CARTE" description="GMAPFP_AFFICHAGE_CARTE_DESC">
			<option value="1">GMAPFP_NORMAL</option>
			<option value="2">GMAPFP_SATELLITE</option>
			<option value="3">GMAPFP_HYBRID</option>
			<option value="4">GMAPFP_PHYSIC</option>
			<option value="5">GMAPFP_EARTH</option>
		</field>
		<field name="gmapfp_mapcontrol" type="radio" default="1" label="GMAPFP_MAPCONTROL" description="GMAPFP_MAPCONTROL_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmapfp_scalecontrol" type="radio" default="1" label="GMAPFP_SCALECONTROL" description="GMAPFP_SCALECONTROL_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmapfp_mousewheel" type="radio" default="1" label="GMAPFP_MOUSEWHEEL" description="GMAPFP_MOUSEWHEEL_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="gmapfp_zzoom" type="radio" default="1" label="GMAPFP_ZONE_ZOOM" description="GMAPFP_ZONE_ZOOM_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmapfp_plus_info" type="radio" default="1" label="GMAPFP_PLUS_INFOS" description="GMAPFP_PLUS_INFOS_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
	</fieldset>

	<fieldset
		name="map_param"
		label="GMAPFP_CONF_MAP_PARAMS">
		
<field type="gmapfphead" default="GMAPFP_BULLET_ZONE" />
		
		<field name="gmapfp_eventcontrol" type="radio" default="1" label="GMAPFP_EVENTCONTROL" description="GMAPFP_EVENTCONTROL_DESC">
			<option value="0">Click</option>
			<option value="1">MouseOver</option>
			<option value="2">GMAPFP_MANUAL_CLOSURE</option>
		</field>
		<field name="gmapfp_width_bulle_GMapFP" type="text" default="400" label="GMAPFP_LARGEUR_BULLE_GMAPFP" size="10" description="GMAPFP_LARGEUR_BULLE_GMAPFP_DESC" />
		<field name="gmapfp_min_height_bulle_GMapFP" type="text" default="150" label="GMAPFP_HAUTEUR_MIN_BULLE_GMAPFP" size="10" />
		<field name="gmapfp_max_height_bulle_GMapFP" type="text" default="350" label="GMAPFP_HAUTEUR_MAX_BULLE_GMAPFP" size="10" />
		<field name="affichage" type="list" default="0" label="GMAPFP_TYPE_AFFICHAGE" description="GMAPFP_TYPE_AFFICHAGE_DESC">
			<option value="0">GMAPFP_AFFICHAGE_COMPLET</option>
			<option value="1">GMAPFP_AFFICHAGE_DETAILS</option>
			<option value="2">GMAPFP_AFFICHAGE_MESSAGE</option>
			<option value="3">GMAPFP_AFFICHAGE_TITRE</option>
		</field>
		<field name="gmapfp_taille_bulle_cesure" type="text" default="200" label="GMAPFP_TAILLE_CESURE" size="10" description="GMAPFP_TAILLE_CESURE_DESC" />
		<field name="gmapfp_html_bubble" type="radio" default="0" label="GMAPFP_HTML_BUBBLE" description="GMAPFP_HTML_BUBBLE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="gmapfp_plus_detail" type="radio" default="1" label="GMAPFP_PLUS_DETAIL" description="GMAPFP_PLUS_DETAIL_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="target" type="list" default="0" label="GMAPFP_POPUP" description="GMAPFP_POPUP_DESC">
			<option value="0">LightBox</option>
			<option value="1">Parent Window With Browser Navigation</option>
			<option value="2">New Window With Browser Navigation</option>
			<option value="3">New Window Without Browser Navigation</option>
		</field>
		<field name="gmapfp_hauteur_lightbox" type="text" default="400" label="GMAPFP_HAUTEUR_LIGHTBOX" size="10" description="GMAPFP_HAUTEUR_LIGHTBOX_DESC" />
		<field name="gmapfp_largeur_lightbox" type="text" default="700" label="GMAPFP_LARGEUR_LIGHTBOX" size="10" description="GMAPFP_LARGEUR_LIGHTBOX_DESC" />

<field type="gmapfphead" default="GMAPFP_FORM_ZONE" />
		
		<field name="gmapfp_itineraire" type="radio" default="1" label="GMAPFP_ITINERAIRE" description="GMAPFP_ITINERAIRE_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmapfp_filtre" type="radio" default="1" label="GMAPFP_FILTRE" description="GMAPFP_FILTRE_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmapfp_msg" type="radio" default="1" label="GMAPFP_MSG" description="GMAPFP_MSG_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmapfp_afficher_horaires_prix" type="radio" default="1" label="GMAPFP_AFFICHER_HORAIRES_PRIX" description="GMAPFP_AFFICHER_HORAIRES_PRIX_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmapfp_afficher_intro_italique" type="radio" default="1" label="GMAPFP_AFFICHER_INTRO_ITALIQUE" description="GMAPFP_AFFICHER_INTRO_ITALIQUE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
	</fieldset>
	
	<fieldset
		name="images"
		label="GMAPFP_CONF_IMAGES">
		
<field type="gmapfphead" default="GMAPFP_IMAGE_ZONE" />

		<field name="gmapfp_chemin_img" type="text" default="/images/gmapfp/" label="GMAPFP_CHEMIN_IMG" size="60" description="GMAPFP_CHEMIN_IMG_DESC" />
		<field name="gmapfp_hauteur_img" type="text" default="100" label="GMAPFP_HAUTEUR_IMG" size="10" description="GMAPFP_HAUTEUR_IMG_DESC" />

	</fieldset>

	<fieldset
		name="autre"
		label="GMAPFP_CONF_AUTRES_KML">
		
		<field name="gmapfp_jcomments" type="radio" default="0" label="GMAPFP_AFFICHER_JCOMMENTS" description="GMAPFP_AFFICHER_JCOMMENTS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

<field type="gmapfphead" default="GMAPFP_GMAPFP_ZONE" />
		
		<field name="gmapfp_news" type="radio" default="1" label="GMAPFP_NEWS" description="GMAPFP_NEWS_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

<field type="gmapfphead" default="GMAPFP_XML_ZONE" />
		
		<field name="gmapfp_geoXML" type="textarea" default="" label="GMAPFP_GEO_XML" cols="46" rows="4" description="GMAPFP_GEO_XML_DESC" />

	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			validate="rules"
			component="com_gmapfp"
			section="component" />
	</fieldset>
</config>
	