@charset "UTF-8";    

h1,h2,h3,h4,h5,h6{
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	font-weight: normal;
}


#contenedor-total{
	font-size: .85em;
}

h1{font-size: 2.25em;color: #fff;}
h2{font-size: 1.8em;}
h3{font-size: 1.2em;}
h4,h5,h6{font-size: 1em;font-weight: bold;line-height: 1.2em;}


h1 a{
	color: #fff;
}

h1 a:hover{
	text-decoration: none;
}

.mh2{
	margin-left:2.6em;
}

.moduletable h3{
	font-weight: normal;
	font-family: 'Play',sans-serif;
}

#logo{
	text-shadow: 1px 1px 1px #666;
}

#main h2{
	margin-bottom: 10px;
	padding: 3px 0;
}

#main h1{
	margin: 0 -5px 15px;
	padding: 5px;
	border-bottom: 1px solid #DDDDDD;
	
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


p {
	line-height: 1.4em;
	margin: 0.8em 0;
}

img{
	border: 0;
}

#slider p{
	margin: 0;
}

#slider{
	padding-bottom: 5px;
	padding-top: 10px;
	background: #e9e9e9;
}


#main h3{
	margin: 20px 0 10px;
	font-weight: bold;	
}



.create .fdia{
	font-size: 2.2em;
	float: left;
	margin-right: 0.1em;
}

.create .fmesanio{
	float: left;
	margin-right: 0.5em;
	margin-top: 0.15em;
}

.create .fmes, .create .fanio{
	display: block;
	font-size: 0.9em;
	margin-top: 1px;
}

.create .fanio{
	font-size: 0.75em;
}

#main .contenedoritem{
	margin-left: 4.5em;
}

#main h2{
	padding-top: 0.15em;
}

#main .article-info{
	font-size: 0.95em;
	font-style: italic;
	line-height: 1em;
}

#main .article-info dd{
	float: left;
	margin-right: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

#main .article-info-fin{
	margin-bottom: 10px;
}

#main .row-separator{
	display: block;
	background: #bebebe;
	height: 1px;
	clear: both;
}

#main .items-leading{
	padding: 0.5em;
	margin-bottom: 1em;	
}

#main ul li, #main ol li
{
        padding:0;
        line-height:1.7em;
        margin: 0;
        
}

/*lista categorias*/
#main .category-list
{
        padding:0 5px;
        display:block;
}

#main .category-list h1
{
        margin-left:-5px;
        margin-right:-5px;
}

.categories-list
{
        padding:0 5px
}

#main .categories-list ul
{
        margin:0px 0 0 20px;
        padding:0
}

#main .categories-list ul li
{
        padding: 5px;
}

#main .categories-list ul ul
{
        margin-left:15px
}

.category-desc
{
        line-height:1.7em;
        margin:10px 0;
        padding-left:0px
}

#main .categories-listalphabet ul
{
	padding:0;
	margin:20px 10px 10px 0;
	list-style-type:none;
	list-style-position:inside
 }
#main .categories-listalphabet ul li
{
	display :inline;
	padding:5px;
	border-right:solid 1px #ddd
}

#main .categories-list ul
{
	list-style-type:none;
	margin:0
}
#main .categories-list dl dt,
#main .categories-list dl dd
{
	display:inline
}

#main .cat-children
{
	padding-left:5px
}
#main .cat-children ul dl dt,
#main .cat-children ul dl dd
{ display:inline}

#main .cat-children ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}
 #main .cat-children ul
{
	margin:20px 20px 20px 0;
}
#main .cat-children ul ul
{
	margin:20px
}

#main .cat-children ul li
{
	margin:10px 0 10px 0
}

#main .num-articulos{
	font-size: 0.9em;
}

.categories-list .category-desc ul li
{
	list-style-type:circle;
}

/*actions de botones artículos*/
#main ul.actions li{
	display: inline;
	line-height: 0;
}

#main ul.actions{
	float: right;
}

/*paginacion*/
#main .pagination
{
        margin:10px 0 ;
        padding:10px 0 10px 0px;

}

#main .pagination ul
{
        list-style-type:none;
        margin:0;
        padding:0;
        text-align:left;
}

#main .pagination li
{
        display:inline;
        padding:2px 5px;
        text-align:left;
        border:solid 1px #eee;
        margin:0 2px
}

#main .pagination li a{
	text-decoration:none;
}

.pagenav
{padding:2px}

#main .pagination li.pagination-start,
#main .pagination li.pagination-next,
#main .pagination li.pagination-end,
#main .pagination li.pagination-prev
{border:0}

#main .pagination li.pagination-start ,
#main .pagination li.pagination-start  span
 {
padding:0

}

.pagination .counter{
	float: left;
	margin: 0;
	
}

.pagination ul{
	float: right;
}


/*page nav*/
#main ul.pagenav {
	margin-top:1em;
	width: 100%;
	text-align: center;
}

ul.pagenav li
{
	display:inline-block;
	line-height: 1.4em !important;
}

ul.pagenav li a
{
	border:solid 1px #ccc;
	padding:1px 0;
	text-decoration:none;
	width: 7em;
	display: block;
}

fieldset{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
}

legend{
	margin-bottom: 10px;
}

table{
	width: 100%;
	border: 1px solid #ccc;
}

thead{
	background-color: #ddd;
}

td,th{
	padding: 10px;
}

th a{
	text-decoration: none;
}

table a img{
	padding:0 5px;
}

/*panel contacto*/


.panel
{
	border:solid 1px #ddd;
	margin-top:-1px

}
#main .contact .panel h3
{
	margin:0px 0 0px 0;
	padding: 0;
	background:#eee;
	border:0
}
.panel h3 a
{
	display:block;
	padding:6px;
	text-decoration:none;
	color:#444;
	padding:6px;
}

.panel h3.pane-toggler a
{
	background:#f5f5f5 url(../images/slider_plus.png) right  top no-repeat;
}
.panel h3.pane-toggler-down a
{
	background:#f5f5f5  url(../images/slider_minus.png) right  top no-repeat;
	border-bottom:solid 1px #ddd;
}

.pane-slider
{
	border:solid 0px;
	padding:0px 10px !important;
	margin:0;

}

.panel .contact-form,
.panel  .contact-miscinfo
{
	padding:10px
}

.contact .panel .contact-form form,
.contact .panel .contact-address
{
	margin:20px 0 0 0
}

.contact-image{
	margin: 10px 0;
	overflow: hidden;
}

address span{
	display: block;
	margin: 5px;
}


/*forms*/
button , .button, textarea{
	border: 1px solid #ccc;
}

input{
	margin: 4px 0;
	padding: 2px;
}

input[type="text"],input[type="password"],input[type="email"]{
	height: 20px;
	border: 1px solid #ccc;
}

textarea{
	height: 100px;
}

.button, button{
	cursor:pointer;
	padding: 4px 6px;
	height: auto;
}

form fieldset dt{
	clear: left;
	float: left;
	width: 12em;
}

.tip
{
	border:solid 1px #333;
	background:#ffffcc;
	font-size: 0.8em;
	padding: 5px;
	max-width: 400px;
}

.tip-title
{
	font-weight:bold;
	margin-bottom: 4px;
}

/*busqueda*/

#searchForm .word{
	border: none;
	background: #eee;
}

.ordering-box{
	float: right;
	width: 40%;
}

.phrases-box{
	float: left;
	width: 60%;
}

#search{
	margin-top: 5px;
}

#searchForm .only label, #searchForm .phrases-box label{
	margin-right: 5px;
}

.search-results dt{
	padding-top: 12px;
	padding-bottom: 8px;
	background: #ededed;
	margin-top: 10px;
}

.search-results dd,.search-results dd span {
	margin-bottom: 10px;
	margin-top: 10px;
}


/*login*/
.login-fields #username-lbl, .login-fields #password-lbl{
	width: 200px;
	display: block;
	height: 20px;
	margin-top: 4px;
	float: left;
}

/*perfil usuario*/
#users-profile-core dt, #users-profile-custom dt{
	float: left;
	padding: 3px 0;
	width: 12em;
}

#users-profile-core dd, #users-profile-custom dd{
	padding: 3px 0;
}

.optional{
	font-size: 0.8em;
}

#member-profile dd, #member-registration dd{
	margin-bottom: 8px;
}

#member-profile label, #member-registration label{
	height: 20px;
	display: block;
}

.red,.star {
	color: red;
}

.button2-left a{
	float: left;
	margin-right: 8px;
	margin-top: 5px;
	display: block;
	padding: 5px 8px;
	background: #f0f0f0;
	text-decoration: none;
	color: #000;
	border: 1px solid #CCCCCC
}

.formelm label, .formelm-area label{
	display: inline-block;
	width: 13em;
}


.moduletable, .moduletable_blank, .moduletable_menu{
	margin: 8px 0;
}

.titulomodulo{
	color: #fff;
	padding: 5px;
}

.moduletable_blank .titulomodulo, .moduletable_menu.titulo .titulomodulo{
	color: inherit;
}

.contenidomodulo{
	padding: 5px;
	border: 1px solid #ccc;
}

.moduletable_blank .contenidomodulo{
	border: none;
	padding: 0;
}


.moduletable.titulo .titulomodulo, .moduletable_menu.titulo .titulomodulo{
	background: none !important;
	color: inherit;

	-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	box-shadow: none;
}

.moduletable fieldset{
	border: none;
}

.moduletable p{
	margin: 0;
}

#form-login li a{
	font-size: 0.9em;
}

#positions_8-11{
	padding: 12px 0; 
}

#positions_8-11 .moduletable .titulomodulo{
	-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	box-shadow: none;
}


#form-login label{
	display: block;
}

#positions_8-11 .contenidomodulo{
	border: none;
	color: #fff;
}

footer{
	padding-bottom: 15px;
}

footer #footer{
	text-align: center;
	font-size: 0.9em;
	padding: 10px;
}

#footer-nav{
	padding: 10px 0 14px;
}

#footer-nav ul li{
	display: inline;
	margin-right: 10px;
} 

#footer-nav a{
	text-decoration: none;
}

#footer-nav a:hover{
	text-decoration: underline;
}

#positions_8-11 #form-login label{
	float: left;
	width: 100px;
}

#positions_8-11 .titulomodulo img{
	float: left;
	margin-right: 10px;
}

#positions_8-11 .titulomodulo h3{
	line-height: 2em;
	padding-bottom: 10px;
}


.moduletable ul{
	padding:6px;
	margin-left: 10px;
	list-style: square;
}

.moduletable ul li{
	margin-bottom: 4px;
}


.contenedor.breadcrumbs_search{
	background: url(../images/degradadogris_r.png) repeat-x #e9e9e9;	
}

.breadcrumbs span, .breadcrumbs a{
	font-size: 0.9em;
}

#breadcrumbs{
	margin-top: 12px;
}


#search #mod-search-searchword{
	margin-left: 40px;
	float: left;
	color: inherit;
	font-style: italic;
}

#search .button{
	padding: 4px 2px;
	border: none;
	cursor: pointer;
	color: white;
}

/*sufijo menu*/

.moduletable_menu ul{
	margin: 0;
}

.moduletable_menu li{
	margin: 0;
}

.moduletable_menu li a{
	display: block;
	width: 98%;
	padding: 8px 4px;
	text-decoration: none;
	border-bottom: 1px solid #d1d1d1;
}

.moduletable_menu li:last-child a{
	border: none;
}


.moduletable_menu li a:hover{
	text-decoration: none;
	color: #fff;
}

.moduletable_menu li ul{
	padding: 0;
	padding-left: 10px;
}


.moduletable_menu li ul li a{
	display: block;
	width: 170px;
	border: none;
}

.moduletable_menu #current ul a{
	background: none; 
}

.moduletable_menu #current a{
	color:#fff;
}

.bannergroup .banneritem{
	margin: 5px 0;
}

#banner-0 .bannergroup .banneritem, #banner-1 .bannergroup .banneritem{
	margin: 0;
}

#banner-1{
	margin-top: 10px;
}


/*Estilos artículos*/

pre,.cajacontenido1,.cajacontenido2{
	line-height: 1.5em;
	padding: 8px;
}

pre {
	overflow: auto;
	font-size: 1em;
}

/*banner-1*/
#banner-1 .banneritem, #banner-0 .banneritem{
	text-align: center;
}

/*blockquote*/
blockquote span.open{
	background: url("../images/so-q.gif") no-repeat scroll left top transparent;
	padding :0 0 0 15px;
}

blockquote span.close{
	background : url("../images/sc-q.gif") no-repeat scroll right bottom transparent;
	padding: 0 15px 0 0;
}
